---
name: CI

"on":
  pull_request:
    branches:
      - master

permissions:
    contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    env:
      # renovate: datasource=github-releases depName=golangci/golangci-lint
      GOLANGCI_LINT_VERSION: 'v2.6.1'
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        show-progress: true

    - name: Configure Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: 'go.mod'

    - name: Print go version
      run: go version

    - name: Build
      run: go build .

    - name: golangci-lint
      uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
      with:
        version: ${{ env.GOLANGCI_LINT_VERSION }}
