---
name: Release

"on":
  push:
    tags:
      - "v*.*"

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        show-progress: true

    - name: Configure Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: 'go.mod'
    - run: go version

    - name: Build
      run: |
        go mod vendor
        git archive --format=tar --prefix=slack-osquery-${{ github.ref_name }}/ ${{ github.ref_name }} > slack-osquery-${{ github.ref_name }}.tar
        tar --append --transform 's,^vendor,slack-osquery-${{ github.ref_name }}/vendor,' --file=slack-osquery-${{ github.ref_name }}.tar vendor
        gzip --best slack-osquery-${{ github.ref_name }}.tar

    - name: Release
      uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
      with:
        files: |
          slack-osquery-${{ github.ref_name }}.tar.gz
