---
name: Release

"on":
  push:
    tags:
      - "v*.*"

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        show-progress: true

    - name: Configure Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: 'go.mod'
    - run: go version

    - name: Build
      run: |
        go mod vendor
        git archive --format=tar --prefix=slack-osquery-${{ github.ref_name }}/ ${{ github.ref_name }} > slack-osquery-${{ github.ref_name }}.tar
        tar --append --transform 's,^vendor,slack-osquery-${{ github.ref_name }}/vendor,' --file=slack-osquery-${{ github.ref_name }}.tar vendor
        gzip --best slack-osquery-${{ github.ref_name }}.tar

    - name: Release
      uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
      with:
        files: |
          slack-osquery-${{ github.ref_name }}.tar.gz
